<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
      <footer>
        <div class="footer-content">
          <h3> SDET DG</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis neque rutrum, luctus nibh id, dapibus odio. Vestibulum eu augue eu nibh vulputate fringilla. </p>
          <ul>
            <li><a href="#"><i> Facebook </i></a></li>
            <li><a href="#"><i> Github </i></a></li>
            <li><a href="#"><i> LinkedIn </i></a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p> Copyright &copy;2021 Designed by <span> DG SDET</span></p>


        </div>
      </footer>

</body>
</html>