<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
        <body>
        {% include "nav-bar.html"%}

        <h1 style="color:red" align="center">
            hi, I'm listing yonaguni
        </h1>
        <h2 style="color:red" align="center">
            This song is from Bad Bunny
        </h2>
        <p style="color:blue" align="center">
            My favourite champs is {{characterName}} and its rol is {{characterRol}}
        </p>





         </body>
        </html>