<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
     {% block title %} Home {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "/home-style.css" %}">

</head>
        <body>
        <div>
        {% block content %}
        <h1> Video </h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/u7cBsVDxs2Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endblock %}
        </div>
        </body>
</html>